<br>
<br>
<% if @carts.empty? %>
    <center><b><h1>No Items In Cart</h1></b></center>
<% else %>
  <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>cart Items</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% @total = 0 %>
   <div class="container">
          <div class="row">  
            <% @carts.each do |cart| %>
               <% cart.products.each do |product| %>
               <div class="col-md-4 featured-item">
                  <%= image_tag(url_for(product.image), :size => '200x100') %>
                  <center>
                  <h4><%= link_to product.name, show_product_path(id: product.id) %></h4>
                  <h6><%= product.price %></h6>
                  </center>
                  <p>Quntity:</p>
                  <%= form_tag(quantity_path, :method => "get") do %>
                      <% @cps.each do |cp| %>
                        <% if cp.product_id ==  product.id %>
                           <%= number_field_tag "quantity", cp.quantity %>
                        <% end %>
                      <% end %>
                       <%= hidden_field_tag "id", product.id %>
                       <%= submit_tag "change",class: "btn btn-success" %><br>
                       <%= link_to "remove", remove_product_path(id: product.id) %>
                       <% @total = @total + (product.price * product.cart_count) %>
                  <% end %>
                  <% end %>
              </div>
           <% end %>
         </div>
  </div>
  <div class="container">
    <center>
        Total Amount: <b><%= @total %></b>
        <%= form_tag(address_path, :method => "get") do %>
           <%= hidden_field_tag "total", @total %>
           <%= submit_tag "Place Order",class: "btn btn-danger" %><br>
        <% end %>
     </center>
  </div>
<% end %>

