<br>
<br>
<% if @carts.products.empty? %>
    <center><b><h1>No Items In Cart</h1></b></center>
    <div class="main-button">
        <center><a href="/product/products">Order Now!</a></center>
    </div>
<% else %>
  <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>cart Items</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="row">  
            <% @carts.products.each do |product| %>
                <div class="col-md-4 featured-item">
                    <%= image_tag(url_for(product.image), :size => '200x100') %>
                    <center>
                        <h4><%= link_to product.name, show_product_path(id: product.id) %></h4>
                        <h7>$:<%= product.price %></h7>
                    </center>
                        <p>Quntity:</p>
                            <% @cps.each do |cp| %>
                                <% if cp.product_id ==  product.id %>
                                    <%= number_field_tag "quantity", cp.quantity, :id=> "quantity#{product.id}" %>
                                <% end %>
                            <% end %>
                            <%= hidden_field_tag "id", product.id, :id=> "product#{product.id}" %>
                            <%= link_to "remove", remove_product_path(id: product.id) %>
                        <script>
                       $(document).ready(function(){
                      console.log(6)
                       $('#quantity<%=product.id%>').change(function(){
                      console.log(7)
                      $.ajax ({
                          url: '<%= cart_path %>',
                           data :{
                               quantity: document.getElementById("quantity<%=product.id%>").value,
                                product_id: document.getElementById("product<%=product.id%>").value
                            },
                           dataType: "script"
                           });
                       });

                        });
                     </script>
                </div>
                <% end %>
    </div>
</div>

<div class="container">
    <center>
     Total Amount
        <%= form_tag(address_path, :method => "get") do %>
          <%= render "cart" %>  
           <%= submit_tag "Place Order",class: "btn btn-danger" %><br>
        <% end %>
     </center>
  </div> 
<% end %>


