<br>
<br>
<% if @orders.empty? %>
    <center><b><h1>No Orders Yet</h1></b></center>
<% else %>
<div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>My Orders</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
<% @orders.each do |order| %>
       <div class="container">
          <div class="row" style="border: 1px solid #eee;">
            <% order.products.each do |product| %>
               <div class="col-md-4 featured-item">
                  <%= image_tag(url_for(product.image), :size => '260x150') %>
                  <center>
                  <h4><%= link_to product.name, show_product_path(id: product.id) %></h4>
                  <h6><%= product.price %></h6>
                  <% @ops.each do |op| %>
                        <% if op.product_id ==  product.id && op.order_id == order.id %>
                           Quantity:<b><%= op.quantity %></b>
                        <% end %>
                  <% end %>
                  </center>
               </div>
            <% end %>
         </div>
         <center>
            <p><b>Amount: <%= order.final_amount %></b></p>
            <p><b>Coupon benifit: <%= order.coupon_benifit %></b></p>
            <p><b>Estimated Delivery: <%= order.delivery_date %></b></p>
            <%= form_tag(order_detail_path, :method => "get") do %>
                <%= hidden_field_tag "order_id",order.id %>
                <%= submit_tag "Order Details",class: "btn btn-danger" %>
            <% end %>
         </center> 
      </div>
   <% end %>
</div>
<% end %>