<br>
<br>
<% if @address.present? %>
<div class="container" style="border-style: solid; border-color: coral;">
          <div class="row">
            <div class="col featured-item">
                 <center>
                   <h1>Address</h1>
                
                    <%= @address.d_no %><br>
                    <%= @address.street %><br>
                    <%= @address.village %><br>
                    <%= @address.state %><br>
                    <%= @address.pincode %><br>
                    <%= form_tag(select_address_path, :method => "get") do %>
                         <%= hidden_field_tag "same_address","yes" %>
                         <%= hidden_field_tag "d_no",@address.d_no %>
                         <%= hidden_field_tag "street",@address.street %>
                         <%= hidden_field_tag "village",@address.village %>
                         <%= hidden_field_tag "state",@address.state %>
                         <%= hidden_field_tag "pincode",@address.pincode %>
                         <%= hidden_field_tag "total",@total %>
                         <%= submit_tag "Continue with it",class: "btn btn-success" %>
                <% end %>
              </center>
              </div>
          </div>
  </div>       
<% end %>
<div class="container" style="border-style: solid; border-color: coral;">
          <div class="row">
            <div class="col featured-item">
              <center>
                    <h1>Add new Address</h1>
                    <%= form_tag(select_address_path, :method => "get") do %>
                         D_no:<%= text_field_tag "d_no"%><br>
                         Street:<%= text_field_tag "street" %><br>
                         Village:<%= text_field_tag "village" %><br>
                         State<%= text_field_tag "state" %><br>
                         Pincode:<%= text_field_tag "pincode" %><br>
                         <%= hidden_field_tag "total",@total %><br>
                         <%= submit_tag "ADD",class: "btn btn-danger" %>
                    <% end %>
                 </center>
            </div>
          </div>
  </div>                  