<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpCDf8BOl7h4jIavArJqAvATDga-mNHC-73A&usqp=CAU" alt="" width="200" height="30"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <form class="form-inline nav-item nav-link mr-sm-2">
              <%= link_to " Home ", root_path %>
            </form>
            <li class="nav-item active">
              <a class="nav-link" href="/cart/order">Oders
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart/index">Cart</a>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
              <form class="form-inline nav-item nav-link mr-sm-2">
                 &nbsp<%= link_to "Deposite", wallets_path(id: current_user.id) %>&nbsp
                 &nbsp balance:<%= current_user.user_wallet.balance %> &nbsp
                 &nbsp <%= link_to " logout", destroy_user_session_path, method: :delete %> &nbsp
             </form>
            <% else %>
             <form class="form-inline">
               <a class="nav-item nav-link mr-sm-2" href="/admins/sign_in">Admin Login</a>
               <a class="nav-item nav-link mr-sm-2" href="/users/sign_in">User Login</a>
              <a class="nav-item nav-link mr-sm-2" href="/users/sign_up">Register</a>
            </form>
          <% end %>
          </ul>
        </div>
      </div>
</nav>
<br>
<br>

<% if @coupon.present? %>
  <div class="container" style="border-style: solid; border-color: green;">
    <center>
      <p>Applied Coupon:<%= @coupon.coupon_name %></p>
      <p>Coupon benifit : <%= @benifit %></p>
    </center>
  </div>
<% end %>
 <div class="container" style="border-style: solid; border-color: red;">
      <center>
        <h1>Final Amount To Pay</h1>
        <h4><b><%= @final_amount %></b></h4>
      </center>
  </div>
  <div>
    <center>
    <%= form_tag(confirm_path, :method => "get") do %>
      <%= hidden_field_tag "total",@final_amount %>
      <% if @coupon.present? %>
          <%= hidden_field_tag "c_id",@coupon.id %>
          <%= hidden_field_tag "benifit",@benifit %>
      <% end %>
      <%= submit_tag "Confirm Order",class: "btn btn-danger" %>
    <% end %>
    </center>
  </div>


<div class="sub-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright-text">
              <p>Copyright &copy; 2021 Mini Store 
                
                - Design: <a rel="nofollow" href="https://www.google.com/https://neilpatel.com/wp-content/uploads/2015/04/ecommerce.jpg">VIKAS</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>



  <style>
body {
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s;
}
p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 24px;
}
a {
  text-decoration: none!important;
}

.copyright-text {
  text-transform: uppercase;
}

.main-button a {
  background-color: #3a8bcd;
  border-radius: 5px;
  padding: 10px 15px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.4px;
  text-decoration: none;
  transition: all 0.5s;
}
.main-button a:hover {
  opacity: 0.7;
}
.section-heading {
  margin-top: 80px;
  margin-bottom: 40px;
}
.section-heading .line-dec {
  width: 30px;
  height: 5px;
  background-color: #3a8bcd;
}
.section-heading h1 {
  font-size: 22px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 15px;
}

/* Pre Header Style */
#pre-header {
  background-color: #3a8bcd;
  text-align: center;
}
#pre-header span {
  color: #fff;
  font-size: 15px;
  padding: 10px 0px;
  display: inline-block;
}

/* Header Style */
.navbar .navbar-brand {
  text-align: center;
  width: 100%;
  position: relative;
  padding: 25px 0px;
}
.bg-dark {
  background-color: #fff!important;
  border-bottom: 1px solid #eee;
}
#navbarResponsive {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 105px;
  transform: translateX(-50%);
}
.navbar-dark .navbar-nav .nav-item {
  margin: 0px 15px;
}
.navbar-dark .navbar-nav .nav-link {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #1e1e1e;
  transition: all 0.5s;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #3a8bcd;
}
.navbar:after {
  width: 100%;
  height: 1px;
  background-color: #eee;
  content: '';
  position: absolute;
  left: 0;
  bottom: -52px;
}
.navbar-dark .navbar-toggler-icon {
  background-image: none;
}
.navbar-dark .navbar-toggler {
  border-color: #3a8bcd;
  background-color: #3a8bcd;  
  height: 50px;
  outline: none;
}
.navbar-dark .navbar-toggler-icon:after {
  content: '\f0c9';
  color: #FFF;
  font-size: 22px;
  line-height: 30px;
  font-family: 'FontAwesome';
}
/* Banner Style */
.banner {
  margin-top: 50px;
  background-image: url('https://www.zdnet.com/a/hub/i/r/2020/12/10/6ffae490-04c9-41b1-95a1-7c6b45e96edf/resize/1200xauto/8d8c23e23985be23c010a4209dc83ccb/b2b-ecommerce-retail-tactics.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0px;
  background-position: center center;
}
.banner .caption {
  background-color: rgba(250,250,250,0.9);
  padding: 30px;
  max-width: 450px;
}
.banner .caption h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
  color: #1e1e1e;
}
.banner .caption .line-dec {
  width: 30px;
  height: 5px;
  background-color: #3a8bcd;
}
.banner .caption p {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* Featured Style */
/* Footer Style */
.footer {
  text-align: center;
}
.footer ul {
  padding: 0px;
  margin: 0px;
}
.footer ul li {
  list-style: none;
  display: inline-block;
}
.footer .logo img {
  max-width: 100%;
  margin-top: 60px;
  margin-bottom: 40px;
}
.footer .footer-menu {
  margin-bottom: 40px;
}
.footer .footer-menu ul li {
  margin: 0px 15px;
}
.footer .footer-menu a {
  font-size: 13px;
  color: #7a7a7a;
  text-transform: uppercase;
  transition: all 0.5s;
}
.footer .footer-menu a:hover {
  color: #3a8bcd;
  text-decoration: none;
}
.footer .social-icons {
  margin-bottom: 60px;
}
.footer .social-icons ul li {
  margin: 0px 10px;
}
.footer .social-icons a {
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #aaa;
  text-align: center;
  display: inline-block;
  line-height: 33px;
  border-radius: 50%;
  font-size: 13px;
  transition: all 0.5s;
}
.footer .social-icons a:hover {
  background-color: #3a8bcd;
}

/* Sub Footer Style */
.sub-footer {
  border-top: 1px solid #eee;
  text-align: center;
}
.sub-footer p {
  font-size: 12px;
  color: #7a7a7a;
  line-height: 60px;
}
.sub-footer a {
  color: #3a8bcd;
  text-decoration: none;
}

/* Featured Page Style */
/* Responsive Style */
@media (max-width: 991px) {

  .banner {
    border-top: none;
    margin-top: 0px;
  }
  .navbar .navbar-brand {
    width: auto;
  }
  .navbar:after {
    display: none;
  }
  #navbarResponsive {
      z-index: 99999;
      position: absolute;
      top: 96px;
      width: 100%;
      text-align: center;
      background-color: rgba(250,250,250,0.95);
      box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  }
  .navbar-dark .navbar-nav .nav-item {
    border-bottom: 1px solid #eee;
  }
  .navbar-dark .navbar-nav .nav-item:last-child {
    border-bottom: none;
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: 15px 0px;
  }
  .featured-page #filters {
    text-align: right;
  } 
  .single-product .right-content {
    margin-top: 30px;
  }
  .about-page .right-content {
    margin-top: 30px;
  }
  .contact-page .right-content {
    margin-top: 30px;
  }
  .contact-page .right-content .col-md-6,
  .contact-page .right-content .col-md-12 {
    padding: 0px;
  }
  .featured-page {
    margin-top: 80px;
  }
  .about-page,
  .contact-page {
    margin-top: 0px;
  }

}

@media (max-width: 767px) {

  .subscribe-form .main-content form input.button {
    margin-top: 20px;
  }
  .featured-page #filters {
    margin-top: 15px;
    text-align: left;
  } 

}
    </style>