<br>
<br>

<div class="container" style="border-style: solid; border-color: coral;">
          <div class="row">
            <div class="col featured-item">
              <center>
              <h1>address</h1>
              <%= @address.d_no %><br>
              <%= @address.street %><br>
              <%= @address.village %><br>
              <%= @address.state %><br>
              <%= @address.pincode %><br>
              <h4><b>Amount To Pay</b></h4>
              <b><%= @total %></b><br>
              <h1>Coupons Available </h1>
                <% @coupons.each do |c| %>
                    <%= c.coupon_name %> &nbsp&nbsp
                <% end %><br>
                <%= form_tag(coupon_path, :method => "get") do %>
                    <%= hidden_field_tag "same_address", "yes"%>
                    <%= hidden_field_tag "total",@total %>
                     Coupon:  <%= text_field_tag "c_name"%>
                     <%= submit_tag "Apply",class: "btn btn-danger" %>
                 <% end %>
                 <%= form_tag(place_order_path, :method => "get") do %>
                     <%= hidden_field_tag "total",@total %>
                     <%= submit_tag "Place Order",class: "btn btn-success" %>
                 <% end %>
              </center>
            </div>
          </div>
  </div>          
