<br>
<br>

<div class="container" style="border-style: solid; border-color: coral;">
          <div class="row">
            <div class="col featured-item">
              <center>
              <h1>address</h1>
              <%= @address.d_no %><br>
              <%= @address.street %><br>
              <%= @address.village %><br>
              <%= @address.state %><br>
              <%= @address.pincode %><br>
              <h4><b>Amount To Pay</b></h4>
              <b><%= @total %></b><br>
                <%= form_tag(apply_coupon_path, :method => "get") do %>
                    <%= hidden_field_tag "same_address", "yes"%>
                    <%= hidden_field_tag "total",@total %>
                    <%= hidden_field_tag "address_id",@address.id %>
                     <%= submit_tag "Apply Coupon",class: "btn btn-danger" %>
                 <% end %><br>
                 <%= form_tag(place_order_path, :method => "get") do %>
                     <%= hidden_field_tag "total",@total %>
                     <%= hidden_field_tag "address_id",@address.id %>
                     <%= submit_tag "Place Order",class: "btn btn-success" %>
                 <% end %>
              </center>
            </div>
          </div>
  </div>          
