<div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Featured Items</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

   <div class="container">
          <div class="row">
            <% @products.each do |product| %>
            <div class="col-md-4 featured-item">
                  <%= image_tag(url_for(product.image), :size => '260x150') %>
                  <center>
                  <h4><%= link_to product.name, show_product_path(id: product.id) %></h4>
                  <h5><%= product.product_type %></h5>
                  <% if product.available_count <= 0 %>
                       <h6>Out Of Stock</h6>
                       <h7>$:<%= product.price %></h7>
                  <% else %>
                       <h7>$:<%= product.price %></h7>
                  <% end %>
                  </center>
            </div>
            <% end %>
          </div>
  </div>