<div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <center>
                 <h4>Search Product</h4><br>
                 <%= form_tag(search_product_path, :method => "get") do %>
                   Name:<%= text_field_tag "name", params[:name], id: 'name' %>
                  <button id="search" onclick="send()" class = "btn btn-success"><% submit_tag("search") %>search</button>
                 <% end %>
              </center>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Search result</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
   <% if @products.empty? %>
       <center><b><h1>No Result Found</h1></b></center>
    </div>
    <% else %>
   <div class="container">
          <div class="row">
            <% @products.each do |product| %>
            <div class="col-md-4 featured-item">
                  <%= image_tag(url_for(product.image), :size => '260x150') %>
                  <center>
                  <h4><%= link_to product.name, show_product_path(id: product.id) %></h4>
                   <h5><%= product.product_type %></h5>
                  <% if product.available_count <= 0 %>
                       <h6>Out Of Stock</h6>
                       <h7>$:<%= product.price %></h7>
                  <% else %>
                       <h7>$:<%= product.price %></h7>
                  <% end %>
                  </center>
            </div>
            <% end %>
          </div>
   </div>
<% end %>
   
<script>
  const show_btn = document.querySelector('#search');
  var wage = document.getElementById("name");
  var i = 0
   hideBtn([show_btn]);
   wage.onkeyup = function(e){
    console.log(wage.value.length);
     e = e || window.event;
     if(wage.value.length > 2) {
        console.log("pyte")
        showBtn([show_btn])
      }
      if(wage.value.length <= 2){
        hideBtn([show_btn]);
      }

}
function showBtn(btnArr) {
  btnArr.forEach((btn) => (btn.style.display = 'inline-block'));
}
function hideBtn(btnArr) {
  btnArr.forEach((btn) => (btn.style.display = 'none'));
}
</script>