    <div class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="caption">
              <center>
                <h1>Add balance</h1>
                <%= form_with(model: @wallets) do |form| %>
                   <div>
                      <%= form.label :enter_amount %><br>
                   <% if @due.present? %>
                         <%= form.number_field :balance, value: @due %>
                    <% else %>
                         <%= form.number_field :balance %>
                    <% end %>
                         <%= form.hidden_field :id, autocomplete: current_user.id %>
                </div><br>
                <div class="actions">
                  <%= form.submit "Deposit", class: "btnSubmit"%>
                </div>
              <% end %>
            </center>
            </div>
          </div>
        </div>
      </div>
    </div>
    